/* -------------------------------------------------------------------------- */
/*                              User Profile View                             */
/* -------------------------------------------------------------------------- */

.profile {
  &__header,
  &__bio {
    width: 100%;
    @include has-panel-shape;
    @include is-bg-2;
    padding: $panel-pad * 2;
    @include for-xs-phone-only {
      padding: $panel-pad * 1.5;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $element-gap * 2;
    @include for-xs-phone-only {
      gap: $element-gap;
    }
  }
  &__image {
    object-fit: cover;
    border-radius: 50%;
    width: 33vw;
    height: 33vw;
    @include for-tablet-portrait-up {
      width: 16rem;
      height: 16rem;
    }
  }
}
