/* -------------------------------------------------------------------------- */
/*                              Rate View Styling                             */
/* -------------------------------------------------------------------------- */

.rate-view {
  &__grid {
    $bar-h: $base-row-h;
    display: grid;
    margin: 0 auto;
    padding: $panel-pad;
    max-width: min(50vh, 100%);
    gap: calc($element-gap / 2);
    grid-template-rows: $bar-h auto $bar-h 1fr;
    @include for-xs-phone-only {
      padding: calc($panel-pad / 2) $panel-pad;
    }
    @include for-tablet-portrait-up {
      gap: $element-gap;
      padding: $panel-pad * 2;
      height: 100%;
      max-width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: $bar-h auto $bar-h 1fr auto;
    }
  }

  &__titlebar {
    display: none;
    @include for-tablet-portrait-up {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      @include has-panel-shape;
      background-color: $color-bg-2;
    }
  }

  &__stats {
    grid-row: 1 / 2;
    @include for-tablet-portrait-up {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
    }
  }

  &__image {
    grid-row: 2 / 3;
    margin: 0 auto;
    img {
      margin: 0 auto;
      border-radius: $border-rounded;
    }
    @include for-xs-phone-only {
      // iphone 5 etc, shrink things even more
      max-width: min(45vh, 100%);
    }
    @include for-tablet-portrait-up {
      width: 100%;
    }
  }

  &__user {
    grid-row: 3 / 4;
  }

  &__rate {
    grid-row: 4 / 5;
    @include for-tablet-portrait-up {
      grid-column: 1 / 3;
    }
  }

  &__footer {
    display: none;
    @include for-tablet-portrait-up {
      grid-row: 5 / 6;
      grid-column: 1 / 3;
      display: inline-block;
      margin: 0 auto;
    }
  }
}
