/* -------------------------------------------------------------------------- */
/*                               Derp Share View                              */
/* -------------------------------------------------------------------------- */
.share {
  &-container {
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: $element-gap;
    padding-bottom: $element-gap;
    @include for-xs-phone-only {
      width: 100%;
      gap: calc($element-gap / 2);
    }
  }
  &__image {
    width: 90%;
    margin: $panel-pad auto;
    img {
      border-radius: $border-rounded;
      @include has-panel-shadow;
    }
    @include for-xs-phone-only {
      width: 70%;
    }
    @include for-tablet-portrait-up {
      width: 60%;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $element-gap;
  }

  &__link {
    width: 100%;
    img {
      height: 1em;
      margin: 0.25em;
    }

    &--direct {
      font-size: 1.3rem;
      color: $color-grey-mid;
      font-family: $font-heading;
      padding: 1em;
      text-align: center;
      @include has-panel-shape;
      background-color: $color-bg-3;
    }
  }
}
