/* -------------------------------------------------------------------------- */
/*                             Submit View Styling                            */
/* -------------------------------------------------------------------------- */
.submit-view {
  // depreciated
  // display: flex;
  // flex-direction: column;
  // @include has-panel-shape;
  // @include is-bg-1;
  // padding: $panel-pad;
  // margin: $panel-pad;
}
