{% load static %}
<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {# OpenGraph metadata - req'd fields #}
  <meta property="og:title" content="{% block meta_title %}{% endblock meta_title %}"/>
  <meta property="og:type" content="{% block meta_type %}{% endblock meta_type %}"/>
  <meta property="og:image" content="{% block meta_image %}{% endblock meta_image %}"/>
  <meta property="og:url" content="{{ BASE_URL }}{% block meta_url %}{{ request.path }}{% endblock meta_url %}"/>
  {# addt'l OG meta #}
  <meta property="og:description" content="{% block meta_desc %}{% endblock meta_desc %}"/>
  <meta property="og:site_name" content="{% block meta_site %}RateMyDerp!{% endblock meta_site %}"/>
  {# extra OG meta #}
  {% block meta_extra %}{% endblock meta_extra %}
  
  <title>{% block title %}{% endblock title %} | Rate My Derp!</title>
  <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
  {% include 'partials/_styles.html' %}

  <body class="app__root">
    <div class="app__container">
      {% include 'partials/_topnav.html' %}

      <div class="app__backing-grid" id="app-backing-grid">
        <main 
          id="app-view-container"
          class={% block main_classes %}{%endblock main_classes %}
        >
        {% include 'partials/_messages.html' %}
        {% block main %}{% endblock main %}
        </main>
      </div>

      {% include 'partials/_bottomnav.html' %}
    </div>
  </body>
  {% include 'partials/_scripts.html' %}
  {% block extra_scripts %}{% endblock extra_scripts %}
</html>
