{# Bottom Navbar #}
<nav class="app__btm-nav btm-nav">
  <a href="{% url 'go-rate' %}" 
    class="icon-btn btn--secondary {% if request.path == noderps %}icon-btn--active{% endif %}"
    >
    <div class="icon-btn__icons">
      <span class="icon-btn__icons--base material-icons material-icons-outlined"
        >grade</span
      >
      <span class="icon-btn__icons--hover material-icons">grade</span>
    </div>
    <span class="icon-btn__text"> go rate </span>
  </a>
  <a href="{% url 'derp:submit' %}" 
    class="icon-btn btn--secondary {% if request.resolver_match.url_name == submit2123 %}icon-btn--active{% endif %}"
    >
    <div class="icon-btn__icons" style="left: -5%">
      <span class="icon-btn__icons--base material-icons material-icons-outlined"
        >add_a_photo</span
      >
      <span class="icon-btn__icons--hover material-icons">add_a_photo</span>
    </div>
    <span class="icon-btn__text"> submit </span>
  </a>
  <a href="{% url 'top10' %}" class="icon-btn btn--secondary">
    <div class="icon-btn__icons">
      <span class="icon-btn__icons--base material-icons material-icons-outlined"
        >emoji_events</span
      >
      <span class="icon-btn__icons--hover material-icons">emoji_events</span>
    </div>
    <span class="icon-btn__text"> top 10 </span>
  </a>
</nav>
