{% if messages %}
<ul class="toast__group">
  {% for message in messages %}
    <li class="card toast {% if message.tags %} {{ message.tags}} {% endif %}">
      {{ message }}
    </li>
  {% endfor %}
</ul>

{% endif %}

{% comment %} <ul class="toast__group">
  <li class="card toast card--secondary">
    Eiusmod dolore non qui sint deserunt tempor anim dolore magna id esse cillum.
  </li>
  <li class="card toast card--warning">
    Enim Lorem commodo eu nulla nulla ullamco.
  </li>
  <li class="card toast card--error">
    Dolor ad aute ex ut mollit nulla nulla.
  </li>
  <li class="card toast card--tertiary">
    Ipsum nostrud sit aute quis consectetur.
  </li>

</ul> {% endcomment %}
