{% load static %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/CustomEase.min.js"
  integrity="sha512-Av7Xa4snIobw1rWLKoVtFpsyIDVpNKj7QOTSKD+7xZxqeuXvMPwpwoq91zs4rw138w0pUhm8YVL6jKko34qmMA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="{% static 'bundled/main.bundled.js' %}"></script>
