{% load static %}
<!-- ---------------------------- Google Fonts ----------------------------- -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600&family=Poppins:wght@500&display=swap"
  rel="stylesheet"
/>
<!-- --------------------------- Material Icons ---------------------------- -->
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
  rel="stylesheet"
/>
<!-- ---------------------- FontAwesome Animal Icons ----------------------  -->
<script src="https://kit.fontawesome.com/7c1d3e511c.js" crossorigin="anonymous"></script>
<!-- ------------------------------ Local CSS ------------------------------ -->
<link rel="stylesheet" href="{% static 'bundled/main.bundled.css' %}" />
