{% load static %}
<!-- ----------------------------- Top Navbar ------------------------------ -->
<nav class="app__top-nav top-nav">
  <h1 class="top-nav__logo">
    <a href="{% url 'go-rate' %}">
      <img src="{% static 'svg/logo.svg' %}" alt="Rate My Derp! logo" />
    </a>
  </h1>
  <button
    class="top-nav__menu-btn btn btn--trans btn--is-square"
    id="main-menu-open"
  >
    <span class="material-icons">menu</span>
  </button>
  {% comment %} Main Menu {% endcomment %}
  <section class="main-menu" id="main-menu">
    <header class="main-menu__titlebar">
      <a href="{% url 'go-rate' %}" class="main-menu__logo">
        <img src="{% static 'svg/logo.svg' %}" alt="Rate My Derp! logo" />
      </a>
      <hr class="divider divider--has-responsive-margin" />
    </header>
    {% if user.is_authenticated %}
      <header class="main-menu__userbar" id="main-menu__top-row">
        <img
          src="{% if user.profile.avatar == '' %}{% static 'svg/user-img.svg' %}{% else %}{{ user.profile.avatar.url }}{% endif %}"
          alt="image of {{ user.username }}"
          class="main-menu__user-image"
        />
        <div class="main-menu__user-text">
          <span>logged in <br />as</span>
          <a href="{{ user.get_absolute_url }}" class="main-menu__user-text--name">{{ user.username }}</a>
        </div>
      </header>
    {% else %}
      <header class="main-menu__account-btns" id="main-menu__top-row">
        <a href="{% url 'account_signup' %}" class="btn btn--secondary">Sign Up</a>
        <a href="{% url 'account_login' %}" class="btn btn--primary m-t-sm">Login</a>
        <hr class="divider divider--has-responsive-margin" />
      </header>
    {% endif %}
    <ul class="main-menu__list">
      {% if user.is_authenticated %}
        <li class="menu-item">
          <hr class="divider divider--has-responsive-margin" />
        </li>
        <li class="menu-item">
          <a href="{{ user.get_absolute_url }}" class="menu-item__link">
            <span class="material-icons material-icons-outlined"> person </span>
            my profile
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'profile:settings' %}" class="menu-item__link">
            <span class="material-icons"> settings </span>
            settings
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'account_logout' %}" class="menu-item__link">
            <span class="material-icons material-icons-outlined"> logout </span>
            logout
          </a>
        </li>
        <li class="menu-item">
          <hr class="divider divider--has-responsive-margin" />
        </li>
      {% endif %}
      <li class="menu-item">
        <a href="{% url 'go-rate' %}" class="menu-item__link">
          <span class="material-icons material-icons-outlined"> grade </span>
          go rate
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'derp:submit' %}" class="menu-item__link">
          <span class="material-icons material-icons-outlined">
            add_a_photo
          </span>
          submit
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'top10' %}" class="menu-item__link">
          <span class="material-icons material-icons-outlined">
            emoji_events
          </span>
          top 10
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'about' %}" class="menu-item__link">
          <span class="material-icons material-icons-outlined">
            help_outline
          </span>
          about
        </a>
      </li>
      <li class="menu-item">
        <hr class="divider divider--has-responsive-margin" />
      </li>
    </ul>
    <header class="main-menu__footerbar">
      <button class="btn btn--trans btn--is-square" id="main-menu-close">
        <span class="material-icons">expand_less</span>
      </button>
    </header>
  </section>
</nav>
