{% extends 'partials/_base.html' %}

{% block title %}Email Settings{% endblock title %}

{% block main_classes %}
  "app__view view-container view-container--is-v-center"
{% endblock main_classes %}

{% block main %}
  <h2 class="view-title">Email Settings</h2>
  <section class="form-container form-container--is-panel">
    {# Email Edit #}
    {% if user.emailaddress_set.all %}
      <form
        action="{% url 'account_email' %}"
        method="POST"
        class="form"
      >
        {% csrf_token %}
        <!-- Selected Email -->        
        <div class="input__field">
          <div class="input__group">
            <div class="input__label">Selected Email</div>
              <div class="btn-row">
                <button class="btn btn--tertiary" name="action_primary" type="submit">
                  <span class="material-icons">check</span>
                  Make Primary
                </button>
                <button class="btn btn--primary" name="action_remove" type="submit">
                  <span class="material-icons">close</span>
                  Remove
                </button>
                <button class="btn btn--bg-3" name="action_send" type="submit">
                  <span class="material-icons">email</span>
                  Verify
                </button>
              </div>
          </div>
          {% comment %} <span class="input__helper">
            {{ form.email.errors }}
          </span> {% endcomment %}
        </div>
        {# Email List #}
        <div class="input__field">
          <div class="input__group">
            <label for="email" class="input__label">Your Email Addresses</label>
            <div class="radio__panel">
              {% for emailaddress in user.emailaddress_set.all %}
                <label 
                  for="email_radio_{{forloop.counter}}" 
                >
                  <input 
                    id="email_radio_{{forloop.counter}}" 
                    type="radio" 
                    name="email" 
                    {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} 
                    value="{{emailaddress.email}}"
                  />
                  {{ emailaddress.email }}
                  {% if emailaddress.verified %}
                    <span class="tag">Verified</span>
                  {% else %}
                    <span class="tag tag--warning">Unverified</span>
                  {% endif %}
                  {% if emailaddress.primary %}
                    <span class="tag tag--tertiary">Primary</span>
                  {% endif %}
                </label>
              {% endfor %}
            </div>
          </div>
        </div>
      </form>
      {# Add Email #}
      {% if can_add_email %}
      <form
        action="{% url 'account_email' %}"
        method="POST"
        class="form"
      >
        {% csrf_token %}
        <!-- errors -->
        {% if form.non_field_errors %}
          <section class="card card--error card--is-text-only">
            <h4 class="card__title">Error</h4>
            <ul class="card__body">
              {% for error in form.non_field_errors %}
                <li class=>
                  {{ error }}
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}
        <!-- email -->
        <div class="input__field input__field--text">
          <div class="input__group">
            <label for="{{ form.email.id_for_label }}" class="input__label">Email to Add</label>
            <div class="input-row">
              {{ form.email }}
              <button name="action_add" class="btn btn--tertiary" type="submit">
                <span class="material-icons">add</span>
              </button>
            </div>
          </div>
          <span class="input__helper">
            {{ form.email.errors }}
          </span>
        </div>
      </form>
    {% endif %}
    {% else %}
      <div class="form-container form-container--is-panel">
        <p class="">
          <strong>Error</strong>: you currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc.
        </p>
      </div>
    {% endif %}
    
  </section>
  {# text below form panel #}
  <h4 class="subtitle">
    Wrong place?
    <a href="{% url 'profile:settings' %}" class="link">Back to settings</a>
  </h4>
{% endblock main %}

{% block extra_scripts %}
<script type="text/javascript">
  (function() {
    var message = "Do you really want to remove the selected e-mail address?";
    var actions = document.getElementsByName('action_remove');
    if (actions.length) {
      actions[0].addEventListener("click", function(e) {
        if (! confirm(message)) {
          e.preventDefault();
        }
      });
    }
  })();
</script>
{% endblock extra_scripts %}