{% extends 'partials/_base.html' %}

{% load account %}

{% block title %}Confirm Email{% endblock title %}

{% block main_classes %}
  "app__view view-container view-container--is-v-center"
{% endblock main_classes %}

{% block main %}
  {% include 'partials/_messages.html' %}
  {% if confirmation %}
  {# render form to confirm email address #}
    {% user_display confirmation.email_address.user as user_display %}
    <form action="{% url 'account_confirm_email' confirmation.key %}" method="POST" 
      class="form-container form-container--is-panel"
    >
      {% csrf_token %}
      <h2 class="view-title">Confirm Email Address</h2>
      <p class="">
        {% with confirmation.email_address.email as email %}
          Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user <strong>{{ user_display }}</strong>.
        {% endwith %}
      </p>
      <button class="btn btn--primary btn--is-submit" type="submit">Confirm</button>
    </form>
  {% else %}
    {# link expired or invalid; render only a dummy form container #}
    {% url 'account_email' as email_url %}
    <section class="form-container login-panel">
      <h2 class="view-title">Expired Email Confirmation</h2>
      <p>
        Confirmation link expired or invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>
      </p>
    </section>
  {% endif %}
  <h4 class="subtitle">
    Already have an account?
    <a href="{% url 'account_login' %}" class="link">Log in here</a>
  </h4>
{% endblock main %}