{% extends 'partials/_base.html' %}

{% block title %}Sign In{% endblock title %}

{% block main_classes %}
  "app__view view-container view-container--is-v-center"
{% endblock main_classes %}

{% block main %}
  <h2 class="view-title">Sign In</h2>
  <form
    action="{% url 'account_login' %}"
    method="POST"
    class="form-container form-container--is-panel"
  >
    {% csrf_token %}
    <!-- errors -->
    {% if form.non_field_errors %}
      <section class="card card--error card--is-text-only">
        <h4 class="card__title">Error</h4>
        <ul class="card__body">
          {% for error in form.non_field_errors %}
            <li class=>
              {{ error }}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    <!-- username -->
    <div class="input__field input__field--text">
      <div class="input__group">
        <label for="{{ form.login.id_for_label }}" class="input__label">Username / Email</label>
        {{ form.login }}
      </div>
      {% if form.input.errors %}
        <span class="input__helper">
          <a href="{% url 'account_reset_password' %}" class="link">Forgotten password?</a>
        </span>
      {% endif %}
    </div>
    <!-- password -->
    <div class="input__field input__field--text">
      <div class="input__group">
        <label for="{{ form.password.id_for_label }}" class="input__label">Password</label>
        {{ form.password }}
      </div>
      {% if form.password.errors %}
        <span class="input__helper">
          <a href="{% url 'account_reset_password' %}" class="link">Forgotten password?</a>
        </span>
      {% endif %}
      <span class="input__helper">
        <a href="{% url 'account_reset_password' %}" class="link">Forgotten password?</a>
      </span>
    </div>
    {# hidden redirect field #}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn--primary btn--is-submit" type="submit">Sign In</button>
  </form>
  <h4 class="subtitle">
    No account yet?
    <a href="{% url 'account_signup' %}" class="link">Register here.</a>
  </h4>
{% endblock main %}