{% extends 'partials/_base.html' %}

{% load account %}

{% block title %}Logout{% endblock title %}

{% block main_classes %}
  "app__view view-container view-container--is-v-center"
{% endblock main_classes %}

{% block main %}
  <h2 class="view-title">Confirm Logout</h2>
  <form action="{% url 'account_logout' %}" method="POST" class="form-container form-container--is-panel">
    {% csrf_token %}
    <p class="">
      Are you sure you want to log out?
    </p>
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn--primary btn--is-submit" type="submit">Log Out</button>
  </form>
{% endblock main %}