{% extends 'partials/_base.html' %}

{% block title %}Password Reset{% endblock title %}

{% block main_classes %}
  "app__view view-container view-container--is-v-center"
{% endblock main_classes %}

{% block main %}
  {% include 'partials/_messages.html' %}
  <div class="form-container login-panel">
    <h2 class="view-title">Password Reset</h2>
    <p class="">
      We have sent you an email! 
    </p>
    <p>
      Please <strong>check your spam folder</strong>. If you don't receive it in a few minutes, please try again later.
    </p>
  </div>
{% endblock main %}