{% extends 'partials/_base.html' %}

{% block title %}Change Password{% endblock title %}

{% block main_classes %}
  "app__view view-container view-container--is-v-center"
{% endblock main_classes %}

{% block main %}
  <h2 class="view-title">Change Password</h2>
  <form
    action="{% url 'account_change_password' %}"
    method="POST"
    class="form-container form-container--is-panel"
  >
    {% csrf_token %}
    <!-- errors -->
    {% if form.non_field_errors %}
      <section class="card card--error card--is-text-only">
        <h4 class="card__title">Error</h4>
        <ul class="card__body">
          {% for error in form.non_field_errors %}
            <li class=>
              {{ error }}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    <!-- old password -->
    <div class="input__field input__field--text">
      <div class="input__group">
        <label for="{{ form.oldpassword.id_for_label }}" class="input__label">Current Password</label>
        {{ form.oldpassword }}
      </div>
      <span class="input__helper">
        {{ form.oldpassword.errors }}
      </span>
    </div>
    <!-- password1 -->
    <div class="input__field input__field--text">
      <div class="input__group">
        <label for="{{ form.password1.id_for_label }}" class="input__label">New Password</label>
        {{ form.password1 }}
      </div>
      <span class="input__helper">
        {{ form.password1.errors }}
      </span>
    </div>
    <!-- password2 -->
    <div class="input__field input__field--text">
      <div class="input__group">
        <label for="{{ form.password2.id_for_label }}" class="input__label">New Password (again)</label>
        {{ form.password2 }}
      </div>
      <span class="input__helper">
        {{ form.password2.errors }}
      </span>
    </div>
    <button class="btn btn--secondary btn--is-submit" type="submit">Save</button>
  </form>
  <h4 class="subtitle">
    Forgotten password?
    <a href="{% url 'account_reset_password' %}" class="link">Reset it here</a>
  </h4>
{% endblock main %}