{% extends 'partials/_base.html' %}

{% block title %}Password Reset{% endblock title %}

{% block main_classes %}
  "app__view view-container view-container--is-v-center"
{% endblock main_classes %}

{% block main %}
  <h2 class="view-title">Password Reset</h2>
  <form
    action="{% url 'account_reset_password' %}"
    method="POST"
    class="form-container form-container--is-panel"
  >
    {% csrf_token %}
    <!-- errors -->
    {% if form.non_field_errors %}
      <section class="card card--error card--is-text-only">
        <h4 class="card__title">Error</h4>
        <ul class="card__body">
          {% for error in form.non_field_errors %}
            <li class=>
              {{ error }}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    <p class="">
      Enter the email address associated with your account and we'll send a password reset link.
    </p>

    <!-- email -->
    <div class="input__field input__field--text">
      <div class="input__group">
        <label for="{{ form.email.id_for_label }}" class="input__label">Email</label>
        {{ form.email }}
      </div>
      <span class="input__helper">
        {{ form.email.errors }}
      </span>
    </div>
    <button class="btn btn--secondary btn--is-submit" type="submit">Reset it!</button>
  </form>
  <h4 class="subtitle">
    Made a mistake?
    <a href="{% url 'profile:settings' %}" class="link">Go back</a>
  </h4>
{% endblock main %}