{% extends 'partials/_base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block main_classes %}
  "app__view view-container view-container--is-v-center"
{% endblock main_classes %}

{% block main %}
  <h2 class="view-title">Sign Up</h2>
  <form
    action="{% url 'account_signup' %}"
    method="POST"
    class="form-container form-container--is-panel"
  >
    {% csrf_token %}
    <!-- errors -->
    {% if form.non_field_errors %}
      <section class="card card--error card--is-text-only">
        <h4 class="card__title">Error</h4>
        <ul class="card__body">
          {% for error in form.non_field_errors %}
            <li class=>
              {{ error }}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    <!-- username -->
    <div class="input__field input__field--text">
      <div class="input__group">
        <label for="{{ form.username.id_for_label }}" class="input__label">Username</label>
        {{ form.username }}
      </div>
      <span class="input__helper">
        {{ form.username.errors }}
      </span>
    </div>
    <!-- email -->
    <div class="input__field input__field--text">
      <div class="input__group">
        <label for="{{ form.email.id_for_label }}" class="input__label">Email</label>
        {{ form.email }}
      </div>
      <span class="input__helper">
        {{ form.email.errors }}
      </span>
    </div>
    <!-- password -->
    <div class="input__field input__field--text">
      <div class="input__group">
        <label for="{{ form.password1.id_for_label }}" class="input__label">Password</label>
        {{ form.password1 }}
      </div>
      <span class="input__helper">
        {{ form.password1.errors }}
      </span>
    </div>
    {# hidden redirect field #}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn--secondary btn--is-submit" type="submit">Sign Me Up!</button>
  </form>
  <h4 class="subtitle">
    Already have an account?
    <a href="{% url 'account_login' %}" class="link">Log in here</a>
  </h4>
{% endblock main %}