{% extends 'partials/_base.html' %}

{% load account %}

{% block title %}Account Verification{% endblock title %}

{% block main_classes %}
  "app__view view-container view-container--is-v-center"
{% endblock main_classes %}

{% block main %}
  {% include 'partials/_messages.html' %}
  <div class="section form-container form-container--is-panel">
    <h2 class="view-title">Verification Email Sent!</h2>
    <p class="">
      We've <strong>sent you a verification email</strong> at your specified address. Follow the link to complete signup.
    </p>
    <p>
      If you do not see the verification e-mail, check your spam folder. You should receive it in a few minutes.
    </p>
  </div>
  <h4 class="subtitle">
    Already confirmed?
    <a href="{% url 'account_login' %}" class="link">Log in here</a>
  </h4>
{% endblock main %}