{% extends 'partials/_base.html' %}

{% load static %}
{% load humanize %}

{% block title %}Settings{% endblock title %}

{% block main_classes %}"app__view form-view"{% endblock main_classes %}

{% block main %}
  {# Settings #}
  <form 
    action="{% url 'profile:settings' %}" 
    method="POST"
    enctype="multipart/form-data"
    class="form-container"
  >
    <h2 class="view-title">User Settings</h2>
    {% csrf_token %}
    {# AUTH #}
    {# Email Edit Buttons #}
    <div class="input__field">
      <div class="input__group">
        <div class="input__label">Email</div>
          <div class="btn-row">
            <span class="btn-row__text btn-row__text--center">{{ profile.user.email }}</span>
            <a href="{% url 'account_email' %}" class="btn btn--secondary">
              <span class="material-icons">edit</span>
              Email Addresses
            </a>
          </div>
      </div>
    </div>
    {# Password Change Buttons #}
    <div class="input__field">
      <div class="input__group">
        <div class="input__label">Password</div>
          <div class="btn-row">
            <a href="{% url 'account_change_password' %}" class="btn btn--tertiary">
              <span class="material-icons">lock</span>
              Change Password
            </button>
            <a href="{% url 'account_reset_password' %}" class="btn btn--warning">
              <span class="material-icons">restore</span>
              Reset Password
            </a>
          </div>
      </div>
    </div>
    {# PROFILE #}
    {# private profile checkbox #}
    <div class="input__field">
      <div class="input__group">
        <label for="{{ form.is_private.id_for_label }}" class="input__label">Private Profile</label>
        <label class="toggle">
          {{ form.is_private }}
          <span class="toggle__actuator"></span>
        </label>
      </div>
      {% with form.is_private.errors as errors %}
        <span class="input__helper">
          {% if errors %}
            {{ errors }}
          {% else %}
          Hides your bio and profile image
          {% endif %}
        </span>
      {% endwith %}
    </div>
    {# Biography Text #}
    <div class="input__field input__field--textarea">
      <div class="input__group">
        <label for="{{ form.bio.id_for_label }}" class="input__label">Biography</label>
        {{ form.bio }}
      </div>
      {% with form.bio.errors as errors %}
        <span class="input__helper">
          {% if errors %}
            {{ errors }}
          {% else %}
          Why do derpy creatures fascinate you?
          {% endif %}
        </span>
      {% endwith %}
    </div>
    {# Image Upload #}
    <div class="input__field input__field--image">
      <div class="input__group">
        <label for="{{ form.avatar.id_for_label }}" class="input__label">New Profile Image</label>
        {{ form.avatar }}
        {% with form.avatar.errors as errors %}
          <span class="input__helper">
            {% if errors %}
              {{ errors }}
            {% else %}
            Square ratio images are best. Cropping will occur otherwise.
            {% endif %}
          </span>
        {% endwith %}
      </div>
    </div>
    <button class="btn btn--primary btn--is-submit" type="submit" value="Submit">
      Save Changes
    </button>
  </form>
{% endblock main %}