{% extends 'partials/_base.html' %}

{% load static %}
{% load humanize %}
{% load derp_tags %}

{% block title %}{{ profile.user.username }} | Profile {% endblock title %}

{% block main_classes %}"app__view view-container view-container--no-title view-container--gap-is-small"{% endblock main_classes %}

{% block meta_title %}{{ profile.user.username }}'s Profile{% endblock meta_title %}
{% block meta_type %}profile{% endblock meta_type %}
{% block meta_image %}{{ BASE_URL }}{% if profile.avatar == '' or profile.is_private %}{% static 'svg/user-img.svg' %}{% else %}{{ profile.avatar.url }}{% endif %}{% endblock meta_image %}
{% block meta_desc %}{{ profile.n_derps_rated }} derpy animals rated. {{ derps | length }} derps submitted.{% endblock meta_desc %}
{% block meta_site %}RateMyDerp!{% endblock meta_site %}

{% block main %}
  <!-- -------------------------- User Profile View -------------------------- -->
  <header class="profile__header">
    <h2 class="title">{{ profile.user.username }}</h2>
    <img alt="user avatar for {{ profile.user.username }}" class="profile__image" 
      src="{% if profile.avatar == '' or profile.is_private %}{% static 'svg/user-img.svg' %}{% else %}{{ profile.avatar.url }}{% endif %}"
    />
    <div class="subtitle stat subtitle--is-wide">
      <span class="material-icons">watch_later</span>
      rating derps since {{ profile.created | naturalday }}
    </div>
  </header>
  {% if profile.bio != '' and not profile.is_private %}
  <div class="profile__bio card card--bg-2 card--is-text-only">
    <p class="card__body">
      {{ profile.bio }}
    </p>
  </div>
  {% endif %}
  <div class="flexbar">
    <span class="stat stat--is-panel is-bg-2 flexbar__body">
      <span class="material-icons">done</span>
      {{ profile.n_derps_rated }} votes cast
    </span>
    <span class="stat stat--is-panel is-bg-2 flexbar__body">
      <span class="material-icons">add_a_photo</span>
      {{ derps | length }} derps
    </span>
  </div>

  {% if page_obj %}
    <h3 class="title title--sm m-t-sm">Derps Submitted</h3>
    <div class="derplist">
    {% for derp in page_obj %}
      <article class="flexbar flexbar--has-button">
        <span class="square square--is-rank">
          <i class="{{ derp.species|derp_species_icon }} fa-sm"></i>
        </span>
        <div class="statsbar statsbar--is-derp flexbar__body">
          <header class="statsbar__left">
            <a href="{{ derp.get_absolute_url }}">
              <h2 class="statsbar__large">{{ derp.name }}</h2>
            </a>
            <span class="statsbar__small">{{ derp.get_species_display }}</span>
          </header>
          <div class="statsbar__right">
            <span class="statsbar__large stat">
              <span class="material-icons">grade</span>
              {{ derp.rating_val | floatformat:2 }}
            </span>
            <span class="statsbar__small stat">
              <span class="material-icons">done</span>
              {{ derp.rating_n_votes }} votes
            </span>
          </div>
        </div>
        <a href="{{ derp.get_absolute_url }}" class="flexbar__btn btn btn--is-square btn--bg-2">
          <span class="material-icons">visibility</span>
        </a>
      </article>
      {% endfor %}
    </div>
    <section class="flexbar flexbar--has-button">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"class="btn btn--is-square btn--bg-2 flexbar__btn--left">
          <span class="material-icons">navigate_before</span>
        </a>
        {% else %}
        <div class="btn btn--is-square btn--bg-2 btn--is-disabled">
          <span class="material-icons">navigate_before</span>
        </div>
      {% endif %}
      <div class="statsbar statsbar--is-center">
        Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
      </div>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"class="btn btn--is-square btn--bg-2 flexbar__btn--right">
            <span class="material-icons">navigate_next</span>
        </a>
      {% else %}
        <div class="btn btn--is-square btn--bg-2 btn--is-disabled">
          <span class="material-icons">navigate_next</span>
        </div>
      {% endif %}
    </section>
  {% else %}
    <h3 class="title title--sm m-t-sm">This user hasn't submitted any derps yet!</h3>
  {% endif %}
{% endblock main %}