{% extends 'partials/_base.html' %}

{% block title %}About{% endblock title %}

{% block main_classes %}
  "app__view view-container view-container--is-v-center"
{% endblock main_classes %}

{% block main %}
  <section class="form-container form-container--is-panel">
    <h2 class="view-title">About</h2>
    <p>
      Here you'll find the most <a href="https://www.urbandictionary.com/define.php?term=Derpy" class="link">derpy</a> animals on the interwebs!
    </p>
    <p>Share your silly pet photos - or animals spotted in the wild - and other people will vote on how derpy they are.</p>
    <p>See if your furry friend has what it takes to get to the top of the charts!</p>
    <a href="{% url 'derp:submit' %}" class="btn btn--primary btn--is-submit">Submit Derp</a>
  </section>
  <h4 class="subtitle">
    A silly application made by <a href="https://stacygaudreau.com" class="link">Stacy Gaudreau</a>
  </h4>
{% endblock main %}