{% extends 'partials/_base.html' %}

{% block title %}Rate Kiwi{% endblock title %}

{% block main %}
<main class="app__view" id="app-view-container">
  <div class="rate-view__grid">
    <!-- Titlebar (only visible on non-mobile vw) -->
    <h2 class="rate-view__titlebar title">Kiwi</h2>
    <!-- Detail Pane Derp Stats -->
    <div class="detailpane rate-view__stats" id="derp-detail-pane">
      <header class="detailpane__bar flexbar flexbar--has-button">
        <div class="statsbar statsbar--is-derp flexbar__body">
          <header class="statsbar__left">
            <h2 class="statsbar__name">Kiwi</h2>
            <span class="statsbar__species">Canine</span>
          </header>
          <div class="statsbar__right">
            <span class="statsbar__rank stat">
              <span class="material-icons">trending_up</span>
              45th
            </span>
            <span class="statsbar__rating stat">
              <span class="material-icons">grade</span>
              7.89
            </span>
          </div>
        </div>
        <button
          class="flexbar__btn btn btn--is-square btn--bg-2"
          id="detail-pane-open"
        >
          <span class="material-icons">more_vert</span>
        </button>
      </header>
      <!-- ------------------------- Body (Detail Pane) -------------------------- -->
      <section class="detailpane__body card card--bg-2">
        <div
          class="flexbar flexbar--has-button flexbar--bg-3 detailpane__titlebar"
        >
          <h2 class="flexbar__title detailpane__titlebar--name">Kiwi</h2>
          <h2 class="flexbar__title detailpane__titlebar--title">Derp Stats</h2>
          <button
            class="flexbar__btn btn btn--trans detailpane__btn"
            id="detail-pane-close"
          >
            <span class="material-icons">close</span>
          </button>
        </div>
        <div class="flexbar">
          <span class="stat stat--is-panel is-bg-3 flexbar__body">
            <span class="material-icons">trending_up</span>
            234th place
          </span>
          <span class="stat stat--is-panel is-bg-3 flexbar__body">
            <span class="material-icons">grade</span>
            6.72 rating
          </span>
        </div>
        <div class="flexbar">
          <span class="stat stat--is-panel is-bg-3 flexbar__body">
            <span class="material-icons">done</span>
            1255 votes
          </span>
          <span class="stat stat--is-panel is-bg-3 flexbar__body">
            <span class="material-icons">watch_later</span>
            27-01-2021
          </span>
        </div>
        <div class="card card--bg-3 card--is-text-only">
          <h4 class="card__title">Biography</h4>
          <div class="card__body">
            <p>
              Intently sniff hand sitting in a box meow all night having their
              mate disturbing sleeping humans for meowzer i can haz, so dream
              about hunting birds terrorize the hundred-and-twenty-pound
              rottweiler and steal his bed, not sorry.
            </p>
            <p>
              Mice nyaa nyaa mesmerizing birds so annoy owner until he gives you
              food say meow repeatedly until belly rubs, feels good, or stinky
              cat for paw at your fat belly meow meow.
            </p>
          </div>
        </div>
        <div class="flexbar">
          <span class="stat stat--is-panel is-bg-3 flexbar__body">
            <span class="material-icons">child_care</span>
            1y 11mo old
          </span>
          <span class="stat stat--is-panel is-bg-3 flexbar__body">
            <span class="material-icons">pets</span>
            Canine
          </span>
          <span class="stat stat--is-panel is-bg-3 flexbar__body">
            <span class="material-icons">emoji_events</span>
            3 awards
          </span>
        </div>
        <button class="btn btn--bg-3 m-med detailpane__btn">
          <span class="material-icons">flag</span>
          Report Content
        </button>
      </section>
    </div>

    <!-- ----------------------------- Derp Image ------------------------------ -->
    <div class="rate-view__image">
      <img src="img/kiwi1.png" alt="a derpy boi" />
    </div>

    <!-- ---------------------------- User StatsBar ---------------------------- -->
    <div class="rate-view__user flexbar flexbar--has-button">
      <div class="statsbar statsbar--is-user flexbar__body">
        <span class="material-icons">account_circle</span>
        <div class="statsbar__left">
          <header>
            <h3 class="statsbar__name">hibouambigu</h3>
            <span class="statsbar__added">added on 27-01-2021</span>
          </header>
        </div>
      </div>
      <button class="flexbar__btn btn btn--secondary">
        <span class="material-icons">share</span>
        Share
      </button>
    </div>

    <!-- --------------------------- Rate This Derp ---------------------------- -->
    <section class="rate-view__rate rating__panel">
      <h3 class="subtitle">Rate this derp to see a new one!</h3>
      <!-- Rating Slider Group -->
      <div class="rating__group" id="rating-slider">
        <div class="rating__scale"></div>
        <input
          type="range"
          name="rating"
          id="rating"
          min="1"
          max="10"
          value="5"
          class="rating__input"
        />
        <div class="rating__value">5</div>
      </div>
      <!-- Rating Submit Button -->
      <button class="btn btn--primary btn--is-large">Rate!</button>
    </section>
    <footer class="rate-view__footer">
      <button class="btn btn--bg-2 m-med">
        <span class="material-icons">flag</span>
        Report Content
      </button>
    </footer>
  </div>
</main>
{% endblock main %}
