{% extends 'partials/_base.html' %}

{% block title %}Rate{% endblock title %}

{% block main_classes %}
  "app__view view-container view-container--is-v-center"
{% endblock main_classes %}

{% block main %}
  <section class="form-container form-container--is-panel">
    <h2 class="view-title">No Derps Left!</h2>
    <p>
      You've seen every single derpy creature there is to see! Why not submit one of your own?
    </p>
    <a href="{% url 'derp:submit' %}" class="btn btn--primary btn--is-submit">Submit Derp</a>
  </section>
{% endblock main %}