/* -------------------------------------------------------------------------- */
/*                               Main App Layout                              */
/* -------------------------------------------------------------------------- */

.app {
  // the root app container/backdrop
  &__root {
    background: darken($color-bg-1, 1%);
    background: linear-gradient(
      350deg,
      rgba(#100f17, 1) 0%,
      lighten(#100f17, 5%) 100%
    );
    @include border-rounded-all;
    max-width: $app-max-w;
    margin: 0 auto;
  }

  // the main app container; wraps the top/btm navs
  //   and the app view grid.
  &__container {
    position: relative;
    width: 100%;
    background-color: $color-bg-1;
    min-height: 100vh;
  }

  &__top-nav {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: $app-max-w;
  }

  &__btm-nav {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: $app-max-w;
  }

  // a grid which makes vertical empty space for the top/btm
  //  navbars floating fixed above the central app view
  &__backing-grid {
    display: grid;
    min-height: 100vh;
    grid-template-rows: $top-nav-h 1fr $btm-nav-h;
    grid-template-columns: 100%;
  }

  &__view {
    grid-row: 2 / 3;
    position: relative;
  }
}
