/* -------------------------------------------------------------------------- */
/*                              Layout Containers                             */
/* -------------------------------------------------------------------------- */

/* ---------------------- Generic View Layout Container --------------------- */
.view-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $panel-pad * 4 $panel-pad * 2;
  gap: $element-gap * 2;
  @include for-xs-phone-only {
    padding: $panel-pad;
    padding-top: $panel-pad * 2;
    gap: $element-gap;
  }
  @include for-tablet-portrait-up {
    max-width: 66%;
  }

  &--no-title {
    padding-top: $panel-pad * 2;
    padding-bottom: $panel-pad * 2;
    @include for-xs-phone-only {
      padding: $panel-pad;
    }
  }

  &--gap-is-small {
    gap: $element-gap;
  }

  &--is-panel {
    @include has-panel-shape;
    @include is-bg-2;
  }

  &--is-v-center {
    justify-content: center;
  }
}

/* ----------------------- Generic Form View Container ---------------------- */
.form-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include has-panel-shape;
  @include is-bg-1;
  padding: $panel-pad;
  margin: $panel-pad 0;
  @include for-tablet-portrait-up {
    margin: $panel-pad;
  }
}
