/* -------------------------------------------------------------------------- */
/*                            Form Layout Container                           */
/* -------------------------------------------------------------------------- */
/*
  This is a responsive form view container wrapper. Useful both as a
    sub-container and when the view is pretty much just a single form.
*/

@mixin is-form-panel {
  @include border-rounded-all;
  @include has-panel-shadow;
  background-color: lighten($color-bg-1, 3%);
}

@mixin responsive-form-column {
  display: flex;
  flex-direction: column;
  gap: $element-gap * 1.25;
  @include for-xs-phone-only {
    gap: calc($element-gap / 2);
  }
}

.form-container {
  width: 100%;
  @include responsive-form-column();
  p {
    text-align: center;
    margin-top: $element-gap;
    padding: 0 $element-gap;
  }
  .view-title + p {
    margin-top: calc($element-gap / 2);
  }

  @include for-tablet-portrait-up {
    padding: $panel-pad * 3 $panel-pad * 2;
    @include is-form-panel();
    width: 66%;
  }

  &--is-panel {
    @include for-phone-up {
      @include is-form-panel();
      padding: $panel-pad * 2 $panel-pad * 2;
    }
    @include for-tablet-portrait-up {
      padding: $panel-pad * 3;
    }
  }
}

.form {
  @include responsive-form-column();
}
