/* -------------------------------------------------------------------------- */
/*                         Generic Backdrop Component                         */
/* -------------------------------------------------------------------------- */
.backdrop {
  // a backdrop element for shading the main app
  z-index: 0;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  &--is-dimmed {
    background-color: rgba(black, 0.4);
  }
}
