/* -------------------------------------------------------------------------- */
/*                            Bottom Navigation Bar                           */
/* -------------------------------------------------------------------------- */

.btm-nav {
  background-color: $color-blue;
  width: 100%;
  height: $btm-nav-h;
  @include border-rounded-bottom;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: $element-gap;
  // hide if viewport height is really tiny
  @include for-phone-keyboard-open-only {
    display: none;
    pointer-events: none;
  }
}
