/* -------------------------------------------------------------------------- */
/*                                   Buttons                                  */
/* -------------------------------------------------------------------------- */

@mixin reset-button-styles {
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  @include border-rounded-all;
  &:focus {
    outline-color: $color-blue;
  }
}

@mixin transform-button-down {
  transform: translate(2px, 2px) scale(0.98);
}

.btn {
  &,
  &:link,
  &:visited {
    @include reset-button-styles;
    font-size: 1.6rem; // driving dimension
    letter-spacing: -0.8px;
    padding: 0.4em 0.8em;
    gap: 0.3em;
    font-family: $font-heading;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
      @include transform-button-down;
    }

    span {
      // icon size; slightly larger than text
      font-size: 1.4em;
    }
  }

  &--primary {
    background-color: $color-pink;
    color: $color-bg-2;
  }

  &--secondary {
    background-color: $color-blue;
    color: $color-bg-3;
  }

  &--tertiary {
    background-color: $color-green;
    color: $color-bg-3;
  }

  &--warning {
    @include is-error;
  }

  &--bg {
    &-1 {
      background-color: $color-bg-1;
    }
    &-2 {
      background-color: $color-bg-2;
    }
    &-3 {
      background-color: $color-bg-3;
    }
    &-1,
    &-2,
    &-3 {
      color: $color-white-tone;
    }
    &-2 {
      &.btn--is-disabled {
        background-color: darken($color-bg-2, 5%);
        color: $color-bg-3;
      }
    }
  }

  &--trans {
    background-color: transparent;
    color: $color-white-tone;
  }

  svg {
    width: 1.2em;
    height: 1.2em;
  }

  &--is-flexed {
    height: 100%;
  }

  &--is-square {
    width: $base-row-h;
    height: $base-row-h;
    padding: 0.3rem;
    span {
      font-size: 1.5em;
    }
  }

  &--is-large {
    margin: 0 auto;
    @include for-tablet-portrait-up {
      max-width: 50%;
    }
    font-size: 2rem;
    padding: 0.4em 1.6em;
  }

  &--is-disabled {
    cursor: unset;
    &:active {
      transform: none;
    }
  }

  // large button with margin for use in form panels
  &--is-submit {
    margin: $panel-pad auto;
    margin-top: $panel-pad * 2;
    @include for-tablet-portrait-up {
      max-width: 75%;
      min-width: 33%;
    }
    font-size: 2.2rem !important;
  }
}

/* ------------------------------- Icon Button ------------------------------ */
/*
  This is a special icon button that can swap its icon on hover and/or
    active link state.
*/

@mixin icon-hover-transition {
  transition: opacity $t-fast;
}

.icon-btn {
  @include reset-button-styles();
  font-size: 1.3rem; // driving dimension
  // padding: 1.875em 0.625em 0.625em 0.625em;
  height: 100%;
  font-family: $font-heading;
  letter-spacing: $title-letter-spacing;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: calc($element-gap / 4);

  &__icons {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--base,
    &--hover {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2em;
    }

    &--base {
      opacity: 1;
      @include icon-hover-transition();
    }
    &--hover {
      opacity: 0;
      @include icon-hover-transition();
    }
  }

  &:hover,
  &:active,
  &--active {
    .icon-btn__icons--base {
      opacity: 0;
    }
    .icon-btn__icons--hover {
      opacity: 1;
    }
  }

  &:active {
    @include transform-button-down;
  }
}
