/* -------------------------------------------------------------------------- */
/*                        Generic Card/Panel Component                        */
/* -------------------------------------------------------------------------- */
/*
    Wraps any number of other elements or provides a simple textbox w. title
*/

.card {
  font-size: 1.15rem;
  @include for-tablet-portrait-up {
    font-size: 1.5rem;
  }
  @include has-panel-shape;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: $panel-pad;
  gap: $panel-gap;
  align-items: center;
  text-align: center;
  @include is-bg-2;
  line-height: $compact-line-h;

  &--left-align {
    align-items: flex-start;
    text-align: left;
  }

  &--is-text-only {
    padding: $panel-pad * 2;
  }

  &__title {
    font-weight: 600;
    letter-spacing: $title-letter-spacing;
    margin: 0 auto;
  }

  &__body {
    font-weight: 300;
    color: $color-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--bg-2 {
    @include is-bg-2;
  }
  &--bg-3 {
    @include is-bg-3;
  }
  &--primary {
    @include is-primary;
  }
  &--secondary {
    @include is-secondary;
  }
  &--tertiary {
    @include is-tertiary;
  }
  &--error {
    @include is-error;
  }
  &--warning {
    background-color: $color-yellow;
    color: $color-bg-2;
  }
  // black text versions have different weights
  //  for proper contrast
  &--primary,
  &--secondary,
  &--error {
    .card {
      &__body {
        font-weight: 400;
        color: lighten($color-bg-1, 10%);
      }
    }
  }

  &--flex-panel {
    // padding: $panel-pad * 3;
  }
}
