/* -------------------------------------------------------------------------- */
/*                                  Derp List                                 */
/* -------------------------------------------------------------------------- */
/*
  A flex-vertical list of derp flexbars. Used by Top 10 and other views which
    need a responsive list of derps.
*/
.derplist {
  margin-top: $element-gap;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc($element-gap / 2);
  @include for-xs-phone-only {
    margin-top: 0;
    gap: calc($element-gap / 2);
  }
}
