/* -------------------------------------------------------------------------- */
/*                                 Detail Pane                                */
/* -------------------------------------------------------------------------- */
/*
    A detail pane which shows/hides from a bar+button trigger on mobile. On
      wider viewports it expands from the bar or is continually open.
*/

.detailpane {
  position: relative;
  z-index: 1;

  &__bar {
    // shown by default; this bar includes the trigger btn which
    //  shows the pane
    height: $base-row-h;
    @include for-tablet-portrait-up {
      @include is-invisible;
    }
  }

  &__titlebar {
    height: $base-row-h;
    &--name {
      @include for-tablet-portrait-up {
        display: none;
      }
    }
    &--title {
      display: none;
      @include for-tablet-portrait-up {
        display: unset;
      }
    }
    @include for-tablet-portrait-up {
      // background-color: $color-bg-2;
    }
  }

  &__body {
    @include is-invisible;
    position: absolute;
    top: 0;
    @include has-shadow-sm;
    // pane is just a bit wider than content
    //  behind it on mobile/portrait
    width: 103%;
    left: -1.5%;
    @include for-tablet-portrait-up {
      left: 0;
      width: 100%;
      height: 100%;
      @include no-shadow;
    }
  }

  &__btn {
    @include for-tablet-portrait-up {
      @include is-invisible;
    }
  }
}
