/* -------------------------------------------------------------------------- */
/*                            Divider (Horizontal)                            */
/* -------------------------------------------------------------------------- */

.divider {
  width: 100%;
  border-top: 2px solid lighten($color-bg-1, 3%);
  margin: 0 auto;
  padding: 0;

  // responsive shrink/grow of margin
  &--has-responsive-margin {
    margin: $element-gap auto;
    @include for-tablet-portrait-up {
      margin: $element-gap * 2 auto;
    }
  }

  &--is-light {
    border-top: 2px solid lighten($color-bg-2, 3%);
  }
  &--is-med {
    border-top: 2px solid lighten($color-bg-1, 6%);
  }
}
