/* -------------------------------------------------------------------------- */
/*                          Flexbox Row/Bar Component                         */
/* -------------------------------------------------------------------------- */
.flexbar {
  position: relative;
  width: 100%;
  height: $base-row-h;
  @include has-panel-shape;
  display: flex;
  align-items: center;
  gap: $element-gap;

  &--has-button {
    gap: calc($element-gap/2);
  }

  &__body,
  &__title {
    flex-grow: 1;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0.1em);
  }

  &__btn {
    height: 100%;
    &--left {
      margin-right: auto;
      margin-left: unset;
    }
    &--right {
      margin-left: auto;
      margin-right: unset;
    }
  }

  &--spaced-evenly {
    justify-content: space-evenly;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--bg-2 {
    @include is-bg-2;
  }
  &--bg-3 {
    @include is-bg-3;
  }
}
