/* -------------------------------------------------------------------------- */
/*                             Input/Form Elements                            */
/* -------------------------------------------------------------------------- */

/* -------------------------------- Variables ------------------------------- */
$label-size: 1.2rem;
$base-size: 1.7rem;
$bg-color: $color-bg-2;
$border-rad: calc($border-rounded / 2);
/* ------------------------------ Local Mixins ------------------------------ */
@mixin input-padding {
  padding: 1.2rem $base-size;
}
@mixin light-focus-border {
  border: 2px solid lighten($color-bg-3, 15%);
}
@mixin has-focus-border {
  border: 2px solid $bg-color;
}
@mixin has-error-border {
  border: 2px solid $color-error;
}
@mixin has-valid-border {
  border: 2px solid $color-blue;
}

/* ------------------------------- Text Input ------------------------------- */
input,
textarea {
  &:not(.rating__input) {
    background-color: $bg-color;
    color: $color-white-tone;
    outline: none;
    font-size: $base-size;
    letter-spacing: -0.02em;
    border-radius: $border-rad;
    @include has-focus-border;
    @include input-padding;

    &:focus {
      @include light-focus-border;
    }

    &::placeholder {
      color: $color-grey-mid;
    }
  }
}

textarea {
  resize: none;
  font-size: $base-size * 0.95;
}

.input {
  // wraps around input & label
  &__group {
    position: relative;
    margin-top: $label-size;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }

  &__label,
  &__helper {
    margin-left: 0.4rem;
    font-family: $font-heading;
  }

  &__label {
    font-size: $label-size;
    color: $color-white-tone;
    transition: all $t-med;
    margin-bottom: 0.8rem;
  }

  &__helper {
    font-size: 1rem;
    color: $color-grey-mid;
    margin-top: 0.8rem;
    // visibility: hidden;
  }

  // wraps around group & helper text
  &__field {
    display: flex;
    flex-direction: column;

    &--is-error {
      .radio__choices,
      .textarea,
      .text,
      .image-upload {
        @include has-error-border();
      }
    }
    &--is-valid {
      .radio__choices,
      .textarea,
      .text,
      .image-upload {
        @include has-valid-border();
      }
    }
  }
}

/* ------------------------------ Button Group ------------------------------ */
.btn-row {
  display: flex;
  flex-wrap: wrap;
  gap: $element-gap;
  justify-content: center;
  .btn,
  &__text {
    flex-grow: 1;
    @include for-tablet-portrait-up {
      max-width: 50%;
    }
  }
  &__text {
    font-size: 1.2rem;
    padding: 0.6em 0.8em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    @include border-rounded-all;
    @include is-bg-2;
    ~ .btn {
      width: 100%;
    }
    @include for-tablet-portrait-up {
      justify-content: flex-start;
      &--right {
        justify-content: flex-end;
      }
      &--center {
        justify-content: center;
      }
    }
  }
}

/* ---------------------------- Input Row With Button --------------------------- */
.input-row {
  display: flex;
  width: 100%;
  align-items: center;
  gap: calc($panel-pad / 2);
  input {
    width: 90%;
  }
  .btn {
    flex-grow: 1;
    gap: 0.25rem;
    padding: 1.2rem 1rem;
  }
}

/* ---------------------------------- Radio --------------------------------- */

// class style radio with list of options in a vertical flex column panel
.radio {
  input[type='radio'] {
  }
  &__panel {
    font-size: 1.2rem;
    font-weight: 500;
    @include is-bg-2;
    @include has-focus-border;
    display: flex;
    flex-direction: column;
    padding: $base-size calc($panel-pad / 2);
    align-items: center;
    gap: $element-gap;
    border-radius: $border-rounded;
  }
}

// "choices" style for eg: Derp species choices
.radio {
  &__choices {
    @include is-bg-2;
    @include has-focus-border;
    border-radius: $border-rad;
    padding: 0.8rem $base-size;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &:focus-within {
      @include light-focus-border;
    }
  }
}

/* -------------------------- Species Radio Option -------------------------- */
.species {
  position: relative;
  input[type='radio'] {
    position: absolute;
    opacity: 0;
    &:hover,
    &:checked,
    &:focus {
      + .species__icon {
        color: $color-blue;
      }
    }
    + .species__icon {
      margin: 1.2rem 0;
      padding: 1.2rem 0;
    }
  }

  &__choice-text {
    visibility: hidden;
    display: none;
  }

  &__icon {
    cursor: pointer;
    color: $color-grey-dark;
  }
}

/* ------------------------------ Image Upload ------------------------------ */
@mixin filepond-style-overrides {
  .filepond {
    // text
    &--drop-label {
      font-family: $font-heading;
      // color: $color-white-tone;
      color: $color-blue;
    }
    &--label-action {
      // text-decoration-color: $color-blue;
      text-decoration-color: $color-blue;
      color: $color-white-tone;
      color: $color-blue;
    }
    &--file {
      font-family: $font-heading;
      color: $color-white-tone;
    }
    // shapes
    &--hopper {
      margin-bottom: 0px !important;
    }
    &--root {
      margin-bottom: 0px !important;
    }
    &--panel-root {
      background-image: none;
      background-color: $color-bg-2;
      border-radius: $border-rad;
    }
    &--item-panel {
      background-color: $color-bg-3;
      border-radius: $border-rad;
    }
    &--file-action-button {
      cursor: pointer;
      background-color: $color-blue;
      color: black;
    }
    &--image-preview-overlay {
      // the image overlay gradient is an embedded svg
      svg {
        color: $color-bg-1;
        opacity: 0.25;
      }
    }
    &--image-preview {
      background-color: $color-bg-3;
    }
  }
  [data-filepond-item-state*='error'],
  [data-filepond-item-state*='invalid'] {
    .filepond--item-panel {
      background-color: $color-error;
    }
    .filepond--file {
      color: $color-bg-1;
      &-action-button {
        color: $color-white-tone;
        background-color: $color-bg-1;
      }
    }
  }
  // get rid of the margin filepond forces on the root element
  margin-bottom: 0 !important;
}

.image-upload {
  @include filepond-style-overrides();
}
