/* -------------------------------------------------------------------------- */
/*                                    Links                                   */
/* -------------------------------------------------------------------------- */

@mixin anchor-base {
  cursor: pointer;
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

a {
  @include anchor-base();

  &.link {
    font-weight: 500;
    color: $color-blue;

    &:hover,
    &:active {
      border-bottom: 1px solid darken($color-blue, 10%);
    }
  }
}
