/* -------------------------------------------------------------------------- */
/*                             Main Pulldown Menu                             */
/* -------------------------------------------------------------------------- */

.main-menu {
  @include is-invisible;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  @include has-panel-shape;
  @include is-bg-1;
  padding: $panel-pad * 2;
  padding-bottom: 0;
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr;
  transform: translateY(-100%);
  width: 100%;
  @include for-tablet-portrait-up {
    grid-template-rows: repeat(3, auto) 1fr;
    width: 55%;
    @include border-rounded-left;
    border-left: 5px solid $color-bg-2;
    @include has-shadow-left;
    padding: $panel-pad * 4;
  }

  &__userbar {
    @include is-invisible;
    @include border-rounded-all;
    margin-bottom: $panel-pad;
    background-color: $color-blue;
    grid-row: 1 / 2;
    font-size: clamp(1.4rem, 6vw, 2.2rem);
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: $panel-pad * 2;
    @include for-xs-phone-only {
      font-size: 1.6rem;
      padding: $panel-pad;
    }
    @include for-tablet-portrait-up {
      grid-row: 2 / 3;
      margin-top: $panel-pad;
    }
  }
  &__user-text {
    font-size: 1em;
    color: lighten($color-bg-1, 5%);
    font-weight: 300;
    &--name {
      font-weight: 500;
      color: $color-bg-1;
      @include reset-button-styles;
    }
  }
  &__user-image {
    object-fit: cover;
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }

  &__account-btns {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include for-tablet-portrait-up {
      grid-row: 2 / 3;
    }
    .btn {
      font-size: 3rem;
    }
  }

  &__titlebar {
    display: none;
    @include for-tablet-portrait-up {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $panel-pad;
    }
  }
  &__logo {
    img {
      height: 3.2rem;
    }
    overflow: hidden;
  }

  &__footerbar {
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
      font-size: 4rem;
      @include for-tablet-portrait-up {
        transform: rotate(90deg);
        font-size: 6rem;
      }
    }
    @include for-tablet-portrait-up {
      grid-row: 4 / 5;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: $element-gap;
    grid-row: 2 / 3;
    @include for-tablet-portrait-up {
      grid-row: 3 / 4;
    }
  }
}

/* ------------------------ Menu Item (Link, HR, etc) ----------------------- */
.menu-item {
  width: 100%;
  @include is-invisible;
  &__link {
    @include reset-button-styles;
    // font-size: 2.4rem; // driving dimension
    font-size: clamp(1.6rem, 3vh, 2.8rem);
    @include for-xs-phone-only {
      font-size: clamp(1rem, 5vh, 1.5rem);
    }
    color: $color-grey-dark;
    gap: $panel-pad * 2;
    span {
      font-size: 1.5em;
      @include for-xs-phone-only {
        font-size: 1.25em;
      }
    }
    display: flex;
    align-items: center;
    font-family: $font-heading;
    text-transform: lowercase;
    background-color: $color-bg-2;
    @include border-rounded-all;
    padding: $panel-pad $panel-pad * 2;

    &:hover,
    &--is-active {
      color: $color-pure-white;
    }
    &:active {
      @include transform-button-down;
    }
  }
}
