/* -------------------------------------------------------------------------- */
/*                       Fullscreen Mobile Pulldown Menu                      */
/* -------------------------------------------------------------------------- */

.mobile-menu {
  @mixin menu-gap-responsive {
    gap: $element-gap * 2;
    @include for-xs-phone-only {
      padding: $panel-pad;
      gap: $element-gap * 1.5;
    }
  }

  // visibility: hidden;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  @include is-bg-1;
  @include has-panel-shape;
  padding: $panel-pad;
  display: flex;
  flex-direction: column;

  // the inner rounded menu pane
  &__pane {
    width: 100%;
    flex-grow: 1;
    @include has-panel-shape;
    // @include is-bg-2;
    background-color: lighten($color-bg-2, 2%);
    padding: $panel-pad * 2;
    @include menu-gap-responsive;
    @include for-xs-phone-only {
      padding: $panel-pad;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include has-shadow-sm;
  }

  &__titlebar {
    padding-left: $panel-pad * 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__userbar {
    font-size: 1.9rem; // driving dimension
    @include for-xs-phone-only {
      font-size: 1.5rem;
    }
    @include has-panel-shape;
    @include is-bg-3;
    margin: 0 $panel-pad;
    padding: $panel-pad;
    display: flex;
    align-items: center;
    gap: 1em;
    color: $color-grey;
  }

  &__user-img {
    width: 3em;
    height: 3em;
  }

  &__user-text {
    font-size: 1em;
    line-height: $compact-line-h + 0.1;
    &--name {
      font-weight: 600;
      color: $color-white-tone;
      @include reset-button-styles;
    }
  }

  &__list {
    @include menu-gap-responsive;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__group {
    // using vh for mobile link sizing here due to
    //  massive variation in viewport heights
    font-size: 1.5vh; // driving dimension
    width: 100%;
    padding: 0 $panel-pad * 3;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin: 0.75vh 0;
  }

  &__logo {
    span {
      padding: 0;
    }
  }

  &__btn {
    padding: 0;
    span {
      font-size: 6rem;
      @include for-xs-phone-only {
        font-size: 5rem;
      }
    }
  }

  &__item {
    .btn {
      font-size: 1.8em;
      width: 20em;
    }
    font-family: $font-heading;
    letter-spacing: 0.08rem;
  }

  &__link {
    position: relative;
    @include reset-button-styles;
    font-size: 2.6em;
    @include for-xs-phone-only {
      font-size: 2em;
    }
    span {
      font-size: 1.3em;
    }
    display: flex;
    align-items: center;
    gap: 0.7em;
    color: $color-grey-dark;
    &:hover,
    &:active,
    &--is-active {
      color: $color-pure-white;
    }
    &:active {
      @include transform-button-down;
    }
  }
}
