/* -------------------------------------------------------------------------- */
/*                                Rating Slider                               */
/* -------------------------------------------------------------------------- */

.rating {
  $total-h: 4rem;
  $track-h: 1rem;
  $thumb-h: 4rem;

  &__message {
    font-size: 1.4rem;
    font-weight: 400;
  }

  &__panel {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: $element-gap;
    padding: $panel-pad * 2 $panel-pad * 4;
    @include for-xs-phone-only {
      gap: $element-gap;
      padding: $panel-pad $panel-pad * 2;
    }
    @include is-bg-2;
    @include has-panel-shape;
    @include for-tablet-portrait-up {
      max-height: 60%;
      gap: $element-gap * 2;
    }
    @include for-tablet-landscape-up {
      max-height: 100%;
    }
  }

  &__group {
    width: 100%;
    margin: 0 auto;
    --thumb-h: #{$thumb-h};
    font-size: 1rem;
    position: relative;
    height: $total-h;
    font-family: $font-heading;
    color: $color-white-tone;
    margin-bottom: $panel-pad * 1;
    @include for-tablet-portrait-up {
      width: 70%;
    }
    @include for-tablet-landscape-up {
      width: 50%;
    }
  }

  &__scale {
    position: absolute;
    display: flex;
    align-items: center;
    position: relative;
    height: $total-h;
  }

  &__bar {
    width: 100%;
    background: linear-gradient(to right, $color-blue 0%, $color-pink 100%);
    height: $track-h;
    border-radius: calc($track-h/2);
  }

  &__tick {
    $tick-h: calc($total-h / 4);
    $tick-w: calc($tick-h / 2);
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    width: $tick-w;
    height: 100%;
    border-radius: calc($tick-w/2);
    $tx: calc($tick-w/2);
    transform: translateX(-$tx);

    &::before,
    &::after {
      position: absolute;
      width: $tick-w;
      height: $tick-h;
      content: '';
      border-radius: calc($tick-w/2);
      background-color: $color-bg-3;
    }
    &::after {
      bottom: 0;
    }
  }

  &__extrema {
    user-select: none;
    position: absolute;
    top: 114%;
    font-size: 1em;
    padding: 0.1em 0.5em;
    border-radius: 0.25em;
    background-color: $color-bg-3;
    transform: translateX(-50%);
    &--max {
      color: $color-pink;
    }
    &--min {
      color: $color-blue;
    }
  }

  &__input {
    // strip defaults
    background: none;
    &:focus {
      outline: none;
    }
    &,
    &::-webkit-slider-thumb,
    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
    }

    --thumb-color: #8796c7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;

    @mixin thumb-styles {
      cursor: pointer;
      height: $thumb-h;
      width: $thumb-h;
      border-radius: 50%;
      $mt: -$thumb-h + $track-h;
      margin-top: calc($mt / 2);
      border: 4px solid var(--thumb-color);
      background-color: $color-bg-2;
      transition: transform 0.5s ease;
      &:hover {
        // transform: translate(0, -0.15rem);
        transform: scale(1.05);
      }
      &:active {
        transform: translate(0, -0.1rem) scale(1.1);
      }
    }

    &::-moz-range-thumb {
      @include thumb-styles();
    }

    &::-webkit-slider-thumb {
      @include thumb-styles();
    }

    @mixin track-styles {
      cursor: pointer;
      background: linear-gradient(to right, $color-blue 0%, $color-pink 100%);
      height: $track-h;
      border-radius: calc($track-h/2);
    }

    &::-moz-range-track {
      @include track-styles();
    }

    &::-webkit-slider-runnable-track {
      @include track-styles();
    }
  }

  &__value {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $thumb-h;
    height: $thumb-h;
    border-radius: 50%;
    font-size: 2.2rem;
  }
}
