/* -------------------------------------------------------------------------- */
/*                               Square w. Text                               */
/* -------------------------------------------------------------------------- */
/*
  A simple square with a small amount of text in it. Used for derp ranking
    flexbars etc.
*/

.square {
  @include border-rounded-all;
  @include is-bg-2;
  width: $base-row-h;
  height: $base-row-h;
  display: flex;
  justify-content: center;
  align-items: center;

  &--is-rank {
    font-weight: 600;
    font-size: 2rem;
  }

  &--bg-rank-1 {
    background-color: $color-rank-1;
  }
  &--bg-rank-2 {
    background-color: $color-rank-2;
  }
  &--bg-rank-3 {
    background-color: $color-rank-3;
  }
  &--bg-rank-4 {
    background-color: $color-rank-4;
  }
  &--bg-rank-5 {
    background-color: $color-rank-5;
  }
  &--bg-rank-6 {
    background-color: $color-rank-6;
  }
  &--bg-rank-7 {
    background-color: $color-rank-7;
  }
  &--bg-rank-8 {
    background-color: $color-rank-8;
  }
  &--bg-rank-9 {
    background-color: $color-rank-9;
  }
  &--bg-rank-10 {
    background-color: $color-rank-10;
  }
}
