/* -------------------------------------------------------------------------- */
/*                           Statsbar: User or Derp                           */
/* -------------------------------------------------------------------------- */
.statsbar {
  font-size: 1rem; // driving dimension
  @include for-xs-phone-only {
    font-size: 0.9rem;
  }
  height: 100%;
  line-height: $compact-line-h;
  display: flex;
  gap: calc($element-gap/2);
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  @include has-panel-shape;
  @include is-bg-2;
  padding: $panel-pad;

  &--is-derp {
    justify-content: space-between;
  }

  &--is-user {
    justify-content: flex-start;
  }

  &--is-center {
    width: 100%;
    justify-content: center;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
  }

  &__left {
    align-items: flex-start;
  }

  &__right {
    align-items: flex-end;
  }

  &__name,
  &__rank,
  &__large {
    font-size: 1em;
    color: $color-white-tone;
  }

  &__species,
  &__rating,
  &__added,
  &__small {
    font-size: 0.8em;
    font-weight: 400;
  }

  &__image {
    img {
      object-fit: cover;
      border-radius: 50%;
      height: 2.2rem;
      width: 2.2rem;
    }
  }
}
