/* -------------------------------------------------------------------------- */
/*                              Stat Text w. Icon                             */
/* -------------------------------------------------------------------------- */

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2em;
  &.subtitle {
    gap: 0.4em;
  }

  span {
    color: $color-pink;
    font-size: 1em;
  }

  &--is-panel {
    font-size: 1.2rem;
    font-weight: 500;
    @include has-panel-shape;
    padding: $panel-pad;
    gap: 0.4em;
  }

  &--is-align-left {
    justify-content: flex-start;
  }
}
