/* ------------------------ Small Text Span with Bg. ------------------------ */
.tag {
  font-size: 1rem; // driving dimension
  border-radius: $border-rounded;
  @include for-xs-phone-only {
    font-size: 0.8rem;
    border-radius: 0.5rem;
  }
  @include for-tablet-portrait-up {
    font-size: 1.2rem;
  }
  font-family: $font-heading;
  font-weight: 500;
  background-color: $color-bg-3;
  padding: 0.5em;
  display: inline-block;

  &--secondary {
    @include is-secondary;
  }
  &--warning {
    @include is-error;
  }
  &--tertiary {
    @include is-tertiary;
  }
}
