/* -------------------------------------------------------------------------- */
/*                            Message Toast Overlay                           */
/* -------------------------------------------------------------------------- */

.toast {
  &__group {
    font-size: 1.6rem; // driving dimension
    gap: $element-gap;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $panel-pad;
    @include for-tablet-portrait-up {
      max-width: 50%;
    }
  }
  // transition: all $t-slow;

  font-size: 1.6rem;
  font-weight: 500;
  width: 100%;
  @include border-rounded-all;
  @include has-shadow-light;
  // opacity: 1;
}
