/* --------------------------- Toggle Switch Input -------------------------- */
.toggle {
  font-size: 1rem; // driving dimension
  $h: 3.4em;
  $w: 6em;
  $d: 0.5em;
  position: relative;
  width: $w;
  height: $h;
  display: inline-block;
  margin-left: 0.4rem;

  input[type='checkbox'] {
    // hide default
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {
      + .toggle__actuator {
        background-color: $color-green;
        &:before {
          transform: translateX(calc($w / 2 - $d));
          background-color: $color-white-tone;
        }
      }
    }
    &:focus {
      + .toggle__actuator {
        box-shadow: 0 0 3px lighten($color-bg-3, 15%);
      }
    }
  }

  &__actuator {
    border-radius: 0.5rem;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-bg-3;
    transition: transform $t-med;

    &:before {
      position: absolute;
      content: '';
      height: $h - ($d * 2);
      width: calc($w / 2 - $d);
      left: $d;
      bottom: $d;
      background-color: $color-grey-dark;
      transition: transform $t-med;
      border-radius: 0.5rem;
    }
  }

  &--round {
    .toggle__actuator {
      border-radius: $h;
      &:before {
        width: $h - ($d * 2);
        border-radius: 50%;
      }
    }
  }
}
