/* -------------------------------------------------------------------------- */
/*                             Top Navigation Bar                             */
/* -------------------------------------------------------------------------- */

.top-nav {
  width: 100%;
  height: $top-nav-h;
  padding: 0 $panel-pad * 2;
  background-color: $color-bg-2;
  @include border-rounded-top;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    $logo-h: 15px;
    img {
      height: $logo-h;
      @include for-tablet-portrait-up {
        height: $logo-h * 1.25;
      }
    }
    &--is-lg {
      img {
        height: $logo-h * 1.75;
      }
    }
  }

  &__menu-btn {
  }
}
