/* -------------------------------------------------------------------------- */
/*                          RateMyDerp Global Mixins                          */
/* -------------------------------------------------------------------------- */

/* ----------------------------- Colour Schemes ----------------------------- */
@mixin is-bg-1 {
  background-color: $color-bg-1;
  color: $color-white-tone;
}

@mixin is-bg-3 {
  background-color: $color-bg-3;
  color: $color-pure-white;
}

@mixin is-bg-2 {
  background-color: $color-bg-2;
  color: $color-white-tone;
}

@mixin is-trans {
  background-color: transparent;
  color: $color-white-tone;
}

@mixin is-secondary {
  background-color: $color-blue;
  color: $color-bg-2;
}

@mixin is-tertiary {
  background-color: $color-green;
  color: $color-bg-2;
}

@mixin is-primary {
  background-color: $color-pink;
  color: $color-bg-2;
}
@mixin is-error {
  background-color: $color-error;
  color: $color-bg-2;
}
@mixin is-red {
  background-color: $color-red;
  color: $color-bg-1;
}
@mixin is-yellow {
  background-color: $color-error;
  color: $color-bg-2;
}

/* --------------------------------- Borders -------------------------------- */
@mixin border-rounded-bottom {
  border-radius: 0 0 $border-rounded $border-rounded;
}
@mixin border-rounded-top {
  border-radius: $border-rounded $border-rounded 0 0;
}
@mixin border-rounded-left {
  border-radius: $border-rounded 0 0 $border-rounded;
}
@mixin border-rounded-all {
  border-radius: $border-rounded;
}
@mixin border-rounded-none {
  border-radius: 0;
}

/* ------------------------------- Visibility ------------------------------- */
@mixin is-invisible {
  opacity: 0;
  visibility: hidden;
}
@mixin is-visible {
  opacity: 1;
  visibility: visible;
}

/* ------------------------------- Panel Shape ------------------------------ */
@mixin has-panel-shape {
  @include border-rounded-all;
}

/* --------------------------------- Shadows -------------------------------- */
@mixin has-shadow-lg {
  box-shadow: 3px 9px 12px #000000;
}
@mixin has-shadow-sm {
  box-shadow: 3px 3px 12px #000000;
}
@mixin has-shadow-light {
  box-shadow: 3px 3px 12px rgba(#000000, 0.5);
}
@mixin has-shadow-left {
  box-shadow: -4px 4px 20px rgba(#000000, 0.5);
}
@mixin no-shadow {
  box-shadow: unset;
}
@mixin has-panel-shadow {
  box-shadow: 0px 2px 9px 1px rgba(#000000, 0.2);
}

/* -------------------------------- No Select ------------------------------- */
@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* ----------------------- Mobile-first Media Queries ----------------------- */
@mixin for-xs-phone-only {
  @media (max-width: 329px) {
    @content;
  }
}
@mixin for-phone-up {
  @media (min-width: 330px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin for-phone-keyboard-open-only {
  @media (max-width: 599.95px) and (max-height: 500px) {
    @content;
  }
}
