/* -------------------------------------------------------------------------- */
/*                               Base CSS Reset                               */
/* -------------------------------------------------------------------------- */

*,
*::before,
*::after,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  overflow-x: hidden;
}

html {
  font-size: 62.5%; // 1rem = 10px
  height: -webkit-fill-available;
}

body {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

a {
  color: inherit;
}

hr {
  border: none;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}
li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

// Allow hard text wrapping to prevent text overflow
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
