body {
  font-family: $font-body;
  color: $color-white-tone;
  font-size: $default-font-size;
  line-height: $compact-line-h;
}

.view-title,
.title {
  margin: 0 auto;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
  &--med {
    font-size: 1.4rem;
  }
  &--sm {
    font-size: 1.2rem;
  }
}

.subtitle {
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: center;
  font-family: $font-body;
  font-weight: 400;
  max-width: 80%;
  @include for-xs-phone-only {
    font-size: 1.2rem;
  }
  &--is-wide {
    max-width: 100%;
  }
}
