/* -------------------------------------------------------------------------- */
/*                               Utility Classes                              */
/* -------------------------------------------------------------------------- */

/* ----------------------------- Colour Schemes ----------------------------- */
.is-bg-1 {
  @include is-bg-1;
}
.is-bg-2 {
  @include is-bg-2;
}
.is-bg-3 {
  @include is-bg-3;
}
.is-trans {
  @include is-trans;
}
.is-secondary {
  background-color: $color-blue !important;
  color: $color-bg-2 !important;
}
.is-primary {
  @include is-primary;
}
.is-tertiary {
  background-color: $color-green !important;
  color: $color-bg-2 !important;
}
.is-error {
  background-color: $color-red !important;
  color: $color-bg-1 !important;
}
.is-warning {
  background-color: $color-error !important;
  color: $color-bg-2 !important;
}

/* ---------------------------- Padding / Margin ---------------------------- */
.m-med {
  margin: $panel-pad * 2;
}
.m-t-sm {
  margin-top: $panel-pad;
}
.m-t-med {
  margin-top: $panel-pad * 2;
}
.m-b-med {
  margin-bottom: $panel-pad * 2;
}
.m-b-sm {
  margin-bottom: $panel-pad;
}
