/* -------------------------------------------------------------------------- */
/*                         RateMyDerp Style Variables                         */
/* -------------------------------------------------------------------------- */

/* --------------------------------- Colours -------------------------------- */
$color-bg-1: #100f17;
$color-bg-2: #1e1d2b;
$color-bg-3: #29283b;
$color-border-1: #1b1926;
$color-blue: #27d0ff;
$color-pink: #fc5185;
$color-error: #eead0e;
$color-white-tone: #f7f7f7;
$color-pure-white: #fefefe;
$color-grey: #f0f0f0;
$color-grey-mid: darken($color-grey, 10%);
$color-grey-dark: darken($color-grey, 20%);

/* ------------------------------- Aux Colours ------------------------------ */
$color-purple-1: #8f00fc;
$color-purple-2: #7500f2;
$color-blue-2: #5c51fc;
$color-blue-3: #0065f2;
$color-blue-4: #1d9abd;
$color-yellow: #ffe227;
$color-red: #ff2769;
$color-green: #21d9a5;

/* ------------------------- Ranking Gradient Steps ------------------------- */
$color-rank-1: #fc5185;
$color-rank-2: #dc6397;
$color-rank-3: #c670a3;
$color-rank-4: #b17daf;
$color-rank-5: #9c8abb;
$color-rank-6: #8796c7;
$color-rank-7: #72a3d3;
$color-rank-8: #5eafdf;
$color-rank-9: #48bcec;
$color-rank-10: #27d0ff;

/* ------------------------------- Typography ------------------------------- */
$font-heading: 'Poppins', sans-serif;
$font-body: 'Montserrat', sans-serif;
$default-font-size: 1.6rem;
$compact-line-h: 1.1;
$title-letter-spacing: 0.05em;

/* -------------------------- Borders and Distances ------------------------- */
$border-rounded: 0.8rem;
$panel-gap: 1rem;
$margin-base-h: 2.2rem;
$element-gap: 1rem;
$panel-pad: 1rem;
$base-row-h: 3.2rem;

/* ------------------------------- Dimensions ------------------------------- */
$app-max-w: 1200px;
$top-nav-h: 34px;
$top-nav-h-lg: $top-nav-h * 2;
$btm-nav-h: 62px;
$icon-lg: 48px;
$icon-md: 36px;
$icon-sm: 24px;
$icon-xs: 18px;

/* ---------------------------------- Time ---------------------------------- */
$t-fast: 0.05s;
$t-med: 0.3s;
$t-slow: 0.5s;
