{% extends 'admin/base.html' %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Rate My Derp! | Admin Area {% endblock %}

{% block extrastyle %}
{# use override_style instead #}
{% endblock extrastyle %}

{% comment %} 
  Custom final override style block. 
  This is needed to override form.css and other auxiliary admin stylesheets.
  A custom block is also in base.html 
  CAUTION: might need to update this when running Django updates if the base.html
    template has been updated upstream.
{% endcomment %}
{% block override_style %}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600&family=Poppins:wght@300;500;700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="{% static 'admin/css/admin.css' %}">
{% endblock override_style %}

{% block branding %}
  <h1 id="head">
    <a href="{% url 'admin:index' %}">
      <img src="{% static 'svg/logo.svg' %}" alt="Rate My Derp!" class="logo">
    </a>
  </h1>
{% endblock branding %}

{% block nav-global %}{% endblock %}