{% extends 'partials/_base.html' %}

{% load derp_tags %}

{% block title %}Submit Your Derp{% endblock title %}

{% block main_classes %}"app__view form-view"{% endblock main_classes %}

{% block main %}
  <form
    method="POST"
    class="form-container"
    action="{% url 'derp:submit' %}"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <!-- Title -->
    <h2 class="view-title">Create Derp</h2>

    {# general errors #}
    {% if form.non_field_errors %}
      <section class="card card--error card--is-text-only">
        <h4 class="card__title">Error</h4>
        <ul class="card__body">
          {% for error in form.non_field_errors %}
            <li class=>
              {{ error }}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    <!-- Derp Name -->
    {# Name #}
    <div class="input__field input__field--text">
      <div class="input__group">
        <label for="{{ form.name.id_for_label }}" class="input__label">{{form.label_tag}}</label>
        {{ form.name }}
      </div>
      {% with form.name.errors as errors %}
        <span class="input__helper">
          {% if errors %}
            {{ errors }}
          {% else %}
            What do you call this derpy creature?
          {% endif %}
        </span>
      {% endwith %}
    </div>

    {# Species Radio Chooser #}
    <div class="input__field input__field--radio">
      <div class="input__group">
        <label for="species" class="input__label">Species</label>
        <div class="radio__choices">
          {% for radio in form.species %}
            <label for="{{ radio.id_for_label }}" class="species">
              {{ radio.tag }}
              <i class="species__icon fa-xl {{ radio.data.value|derp_species_icon }}"></i>
              <div class="species__choice-text">
                {{ radio.data.label }}
              </div>
            </label>
          {% endfor %}
        </div>
        {% with form.species.errors as errors %}
          <span class="input__helper">
            {% if errors %}
              {{ errors }}
            {% endif %}
          </span>
        {% endwith %}
      </div>
    </div>

    {# Biography Text #}
    <div class="input__field input__field--textarea">
      <div class="input__group">
        <label for="{{ form.bio.id_for_label }}" class="input__label">Biography</label>
        {{ form.bio }}
      </div>
      {% with form.bio.errors as errors %}
        <span class="input__helper">
          {% if errors %}
            {{ errors }}
          {% else %}
          Tell us a little story about that derp.
          {% endif %}
        </span>
      {% endwith %}
    </div>

    {# Age #}
    <div class="input__field input__field--text">
      <div class="input__group">
        <label for="{{ form.age_when_added.id_for_label }}" class="input__label">Age</label>
        {{ form.age_when_added }}
      </div>
      {% with form.age_when_added.errors as errors %}
        <span class="input__helper">
          {% if errors %}
            {{ errors }}
          {% else %}
          Enter their age in years
          {% endif %}
        </span>
      {% endwith %}
    </div>

    {# Image Upload #}
    <div class="input__field input__field--image">
      <div class="input__group">
        <label for="{{ form.image.id_for_label }}" class="input__label">Photo</label>
        {{ form.image }}
        {% with form.image.errors as errors %}
          <span class="input__helper">
            {% if errors %}
              {{ errors }}
            {% else %}
            Square ratio images are best. Cropping will occur otherwise.
            {% endif %}
          </span>
        {% endwith %}
      </div>
    </div>

    <button class="btn btn--primary btn--is-submit" type="submit" value="Submit">
      Submit Derp
    </button>
  </form>
{% endblock main %}