{% extends 'partials/_base.html' %}

{% load static %}
{% load humanize %}

{% block title %}{{ derp.name }} | Share {% endblock title %}

{% block main_classes %}"app__view form-view"{% endblock main_classes %}

{% block main %}
  <section class="form-container">
  <h2 class="view-title">Share {{ derp.name }}</h2>
  <div class="share-container"> 
    <div class="share__image">
      <a href="{{ derp.get_absolute_url }}">
        <img src="{{ derp.image.url }}" alt="a derpy {{ derp.get_species_display }} named {{ derp.name }}">
      </a>
    </div>
    <h3 class="title title--med">Share To</h3>
    <ul class="share__links">
      <li class="share__link">
        <a 
        class="btn btn--bg-3" 
        href="https://www.facebook.com/sharer.php?u={{ BASE_URL|urlencode }}{{ derp.get_absolute_url|urlencode }}"
        target="blank" rel="noopener noreferrer"
        >
          <img src="{% static 'svg/i-facebook.svg' %}" alt="share derp on facebook">
          Facebook
        </a>
      </li>
      <li class="share__link">
        <a 
          class="btn btn--bg-3" 
          href="https://twitter.com/intent/tweet?url={{ BASE_URL|urlencode }}{{ derp.get_absolute_url|urlencode }}"
          target="blank" rel="noopener noreferrer"
        >
          <img src="{% static 'svg/i-twitter.svg' %}" alt="share derp on twitter">
          Twitter
        </a>
      </li>
      <li class="share__link">
        <a 
          class="btn btn--bg-3"
          target="blank" rel="noopener noreferrer"
          href=
            "https://pinterest.com/pin/create/link/?url={{ BASE_URL|urlencode }}{{ derp.get_absolute_url|urlencode }}&media={{ BASE_URL|urlencode }}{{ derp.image.url|urlencode }}&description={{derp.name|urlencode}}{{" from Rate My Derp!"|urlencode}}"
        >
          <img src="{% static 'svg/i-pinterest.svg' %}" alt="share derp on pinterest">
          Pinterest
        </a>
      </li>
      <li class="share__link share__link--direct">
        {{ BASE_URL }}{{ derp.get_absolute_url }}
      </li>
    </ul>
  </div>
  </section>
  <h4 class="subtitle m-t-med">
    Here by mistake?
    <a href="{{ derp.get_absolute_url }}" class="link">Go back to that derp.</a>
  </h4>
{% endblock main %}