{% extends 'partials/_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Rate {{ derp.name }}{% endblock title %}

{% block main_classes %}"app__view"{% endblock main_classes %}

{% block meta_title %}{{ derp.name | truncatewords:2 }} - Rated {{ derp.rating_val | floatformat:2 }} - Rate My Derp!{% endblock meta_title %}
{% block meta_type %}website{% endblock meta_type %}
{% block meta_image %}{{ BASE_URL }}{{ derp.image.url }}{% endblock meta_image %}
{% block meta_desc %}Rated {{ derp.rating_val | floatformat:2 }}/10 derpy. Do you agree? Vote for {{derp.name}}'s derpiness now!{% endblock meta_desc %}
{% block meta_extra %}
  <meta property="og:image:type" content="image/jpeg"/>
  <meta property="og:image:width" content="{{ derp.image.width }}"/>
  <meta property="og:image:height" content="{{ derp.image.height }}"/>
{% endblock meta_extra %}


{% block main %}
  <div class="rate-view__grid">
    <!-- Titlebar (only visible on non-mobile vw) -->
    <h2 class="rate-view__titlebar title">{{ derp.name }}</h2>
    <!-- Detail Pane Derp Stats -->
    <div class="detailpane rate-view__stats" id="derp-detail-pane">
      <header class="detailpane__bar flexbar flexbar--has-button">
        <div class="statsbar statsbar--is-derp flexbar__body">
          <header class="statsbar__left">
            <h2 class="statsbar__name">{{ derp.name }}</h2>
            <span class="statsbar__species"> {{ derp.get_species_display }}</span>
          </header>
          <div class="statsbar__right">
            <span class="statsbar__rank stat">
              <span class="material-icons">trending_up</span>
              {{ derp.rank | ordinal}}
            </span>
            <span class="statsbar__rating stat">
              <span class="material-icons">grade</span>
              {{ derp.rating_val | floatformat:2 }}
            </span>
          </div>
        </div>
        <button
          class="flexbar__btn btn btn--is-square btn--bg-2"
          id="detail-pane-open"
        >
          <span class="material-icons">more_vert</span>
        </button>
      </header>
      {# Body of Detail Pane #}
      <section class="detailpane__body card card--bg-2">
        <div
          class="flexbar flexbar--has-button flexbar--bg-3 detailpane__titlebar"
        >
          <h2 class="flexbar__title detailpane__titlebar--name">{{ derp.name }}</h2>
          <h2 class="flexbar__title detailpane__titlebar--title">Derp Stats</h2>
          <button
            class="flexbar__btn btn btn--trans detailpane__btn"
            id="detail-pane-close"
          >
            <span class="material-icons">close</span>
          </button>
        </div>
        <div class="flexbar">
          <span class="stat stat--is-panel is-bg-3 flexbar__body">
            <span class="material-icons">trending_up</span>
            {{ derp.rank | ordinal}} place
          </span>
          <span class="stat stat--is-panel is-bg-3 flexbar__body">
            <span class="material-icons">grade</span>
            {{ derp.rating_val | floatformat:2 }} rating
          </span>
        </div>
        <div class="flexbar">
          <span class="stat stat--is-panel is-bg-3 flexbar__body">
            <span class="material-icons">done</span>
            {{ derp.rating_n_votes }} votes
          </span>
          <span class="stat stat--is-panel is-bg-3 flexbar__body">
            <span class="material-icons">watch_later</span>
            {{ derp.created | naturaltime }}
          </span>
        </div>
        {% if derp.bio != '' %}
          <div class="card card--bg-3 card--is-text-only">
            <h4 class="card__title">Biography</h4>
            <div class="card__body">
              <p>
                {{ derp.bio }}
              </p>
            </div>
          </div>
        {% endif %}
        <div class="flexbar">
          <span class="stat stat--is-panel is-bg-3 flexbar__body">
            <span class="material-icons">child_care</span>
            {{ derp.get_age_display }}
          </span>
          <span class="stat stat--is-panel is-bg-3 flexbar__body">
            <span class="material-icons">pets</span>
            {{ derp.get_species_display }}
          </span>
          <span class="stat stat--is-panel is-bg-3 flexbar__body">
            <span class="material-icons">emoji_events</span>
            {{ derp.n_shares }} shares
          </span>
        </div>
        {% if derp.owner == user %}
          <a href="{% url 'derp:delete' derp.uuid %}"class="btn btn--primary m-med">
            <span class="material-icons">close</span>
            Delete Derp
          </a>
        {% else %}
          {% comment %} 
          <button class="btn btn--bg-3 m-med detailpane__btn">
            <span class="material-icons">flag</span>
            Report Content
          </button>
          {% endcomment %}
        {% endif %}
      </section>
    </div>

    <!-- ----------------------------- Derp Image ------------------------------ -->
    <div class="rate-view__image">
      <img src="{{ derp.image.url }}" alt="a derpy {{ derp.get_species_display }} named {{derp.name}}" />
    </div>

    <!-- ---------------------------- User StatsBar ---------------------------- -->
    <div class="rate-view__user flexbar flexbar--has-button">
      <div class="statsbar statsbar--is-user flexbar__body">
        <a href="{{ derp.owner.get_absolute_url }}" class="statsbar__image">
          <img 
            src="{% if derp.owner.profile.avatar == '' or derp.owner.profile.is_private %}{% static 'svg/user-img.svg' %}{% else %}{{ derp.owner.profile.avatar.url }}{% endif %}"
            alt="image of {{ derp.owner.username }}" 
          >
        </a>
        <div class="statsbar__left">
          <header>
            <a href="{{ derp.owner.get_absolute_url }}">
              <h3 class="statsbar__name">
                  {{ derp.owner.username }}
              </h3>
            </a>
            <span class="statsbar__added">added on {{ derp.get_date_created_pretty}}</span>
          </header>
        </div>
      </div>
      <a class="flexbar__btn btn btn--secondary" href="{{derp.get_absolute_url}}/share">
        <span class="material-icons">share</span>
        Share
      </a>
    </div>

    {# Rate This Derp! #}
    <form action="{% url 'rating:rate' derp.uuid %}" class="rate-view__rate rating__panel" method="POST">
      {% csrf_token %}
      <h3 class="subtitle">Rate this derp to see a new one!</h3>
      <!-- Rating Slider Group -->
      <div class="rating__group" id="rating-slider">
        <div class="rating__scale"></div>
        <input
          type="range"
          name="value"
          id="value"
          min="1"
          max="10"
          {% if user_rating %}value="{{ user_rating }}"{% endif %}
          class="rating__input"
        />
        <div class="rating__value">
          {% if ctx.rating %}
            {{ ctx.rating }}
          {% endif %}
        </div>
      </div>
      <!-- Rating Submit Button -->
      <button class="btn btn--primary btn--is-large" type="submit">Rate!</button>
    </form>
    <footer class="rate-view__footer">
      {% comment %}
      <button class="btn btn--bg-2 m-med">
        <span class="material-icons">flag</span>
        Report Content
      </button>
      {% endcomment %}
    </footer>
  </div>
{% endblock main %}
