{% extends 'partials/_base.html' %}

{% block title %}Delete Derp{% endblock title %}

{% block main_classes %}
  "app__view view-container view-container--is-v-center"
{% endblock main_classes %}

{% block main %}
  <h2 class="view-title">Confirm Delete</h2>
  <form 
    class="form-container form-container--is-panel"
    method="POST"  
  >
    {% csrf_token %}
    <p>
      Are you certain you want to delete <a href="{{ object.get_absolute_url }}" class="link"><strong>{{ object }}</strong></a>? This cannot be undone.
    </p>
    {{ form }}
    <button type="submit" class="btn btn--primary btn--is-submit">Yes, Delete</button>
        
  </form>
  {# text below form panel #}
  <h4 class="subtitle">
    Made a mistake?
    <a href="{% url 'derp:detail' object.uuid %}" class="link">Take me back</a>
  </h4>
{% endblock main %}