{% extends 'partials/_base.html' %}

{% load derp_tags %}

{% block title %}Top 10 Derpy Creatures{% endblock title %}

{% block main_classes %}"app__view view-container"{% endblock main_classes %}

{% block meta_title %}Top 10 Derpy Animals on the Internet!{% endblock meta_title %}
{% block meta_type %}website{% endblock meta_type %}
{% block meta_image %}{{ BASE_URL }}{{ derps.0.image.url }}{% endblock meta_image %}
{% block meta_desc %}Voted the top 10 most derpy, cute and funny pet animals on the internet! Think yours is better? Submit them to the charts to find out!{% endblock meta_desc %}
{% block meta_site %}RateMyDerp!{% endblock meta_site %}
{% block meta_extra %}
  <meta property="og:image:type" content="image/jpeg"/>
  <meta property="og:image:width" content="{{ derps.0.image.width }}"/>
  <meta property="og:image:height" content="{{ derp.0.image.height }}"/>
{% endblock meta_extra %}

{% block main %}
  <h2 class="view-title">Top 10</h2>
  {% if derps %}
  <h3 class="subtitle">The most derpy creatures on Teh Interwebs!</h3>
    <div class="derplist">
    {% for derp in derps %}
      <article class="flexbar flexbar--has-button">
        <span class="square square--is-rank square--bg-rank-{{ forloop.counter }}">{{ forloop.counter }}</span>
        <div class="statsbar statsbar--is-derp flexbar__body">
          <header class="statsbar__left">
            <a href="{{ derp.get_absolute_url }}">
              <h2 class="statsbar__large">
                {{ derp.name }}
              </h2>
            </a>
            <span class="statsbar__small">{{ derp.get_species_display }}</span>
          </header>
          <div class="statsbar__right">
            <span class="statsbar__large stat">
              <span class="material-icons">grade</span>
              {{ derp.rating_val | floatformat:2 }}
            </span>
            <span class="statsbar__small stat">
              <span class="material-icons">done</span>
              {{ derp.rating_n_votes }} votes
            </span>
          </div>
        </div>
        <a href={{ derp.get_absolute_url }} class="flexbar__btn btn btn--is-square btn--bg-2">
          <span class="material-icons">visibility</span>
        </a>
      </article>
    {% endfor %}
    </div>
  {% else %}
    <h3 class="subtitle">Hmm. There don't seem to be any top Derps yet!</h3>
  {% endif %}
{% endblock main %}